.home-card{
    display: flex;
    flex-flow: column wrap;
    gap: 1.8rem;
    border: 1px solid var(--soft-beige);
    border-radius: 10px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-coffee);
    transition: all 0.5s ease-in-out;
    min-width: 30vw;
}


.home-card:hover{
    background-color: var(--dark-coffee);
}

.home-card__link {
    text-decoration: none;
    color: var(--soft-beige);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    transition: color 0.3s ease;
}

.home-card__icon{
    color: var(--soft-beige);
    transition: all 0.3s ease-in-out;

}

.home-card__icon:hover{
    color: var(--secondary-latte);
    transform: translateY(-10px) scale(1.05); 
}


@media screen and (max-width: 400px){

    .home-card{
        width: 200px;

    }
    
}