
.input-field {
    display: flex;
    gap: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-width: 35vw;
    height: 55px;
    background-color: var(--soft-beige);
    color: var(--dark-coffee);
    justify-content: center;
    align-items: center;

}

.input-field__icon {
    color: var(--dark-coffee);
    transition: all 0.3s ease;
}

.input-field__icon:hover{
    color: var(--soft-coffee);
}


.input{
    border: none;
    padding: 8px;
    min-width: 10vw;
    border-radius: 8px;
    background-color: var(--secondary-soft-beige);
    color: var(--dark-coffee);
    
}



@media screen and (min-width : 800px) {
    .input-field{
        max-width: 30vw;
        min-height: 5vh;
    }
    
}