.confirmation-modal-backdrop {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 2rem;
  z-index: 200




}

.confirmation-modal {

  min-width: 35vw;
  min-height: 35vh;
  background-color: var(--bg-gradient);
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  gap: 1rem;
  padding: 2rem;


  border-radius: 15px;
  border: 2px solid var(--secondary-soft-beige);
  color: var(--soft-beige);
  z-index: 300;

  transition: opacity 0.5s ease-in-out;

}


.confirmation-modal-open {

  visibility: visible;
  opacity: 1;


}

.confirmation-modal__title {
  text-align: center;
  width: 350px;
}


.confirmation-modal__button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  min-width: 8vw;
  min-height: 5vh;
  background-color: var(--soft-beige);
  color: var(--dark-coffee);
  font-weight: bold;
  font-size: 15px;
  transition: all 0.5s ease;

}


.confirmation-modal__button:hover {
  background-color: var(--secondary-soft-beige);
}

.confirmation-modal__button:active {
  transform: translateY(2px);
  background-color: var(--secondary-soft-beige);

}