.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
}


.nav_item a {
    text-decoration: none;
    color: var(--dark-coffee);
    font-weight: bold;
    transition: color 0.5s ease;



}


.nav_item a:hover {

    color: var(--soft-beige);

}

.nav-link.active {
    color: var(--soft-beige);
    border-bottom: 2px solid var(--soft-beige);
}


.icon  {
    transition: all 0.6s ease;
    cursor: pointer;
    color: var( --dark-coffee);
}

.icon:hover {
    transform: translateY(-4px) scale(1.05);
    color: white

}


.icon-menu{
    max-width: 80px;
}

.icon-menu,
.icon-close {
    display: none;
}




@media screen and (max-width: 820px) {

    .icon-menu,
    .icon-close {
        display: block;
        width: 40px;
        height: 40px;
    }



    .nav {

        transition: all 0.6s ease;
        display: flex;
        flex-flow: column;
        position: fixed;
        z-index: 100;
        height: 100%;
        width: 48%;
        align-items: end;
        gap: 2rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bg-gradient);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

    }



    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav.hidden {
        opacity: 0;
        visibility: hidden;
    }


    .nav_list {
        flex-direction: column;
        align-items: end;

    }

}

