*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body{
    background-color: var(--bg-beige);
    font-family: var(--font-main);
}


.app-container{

    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}


.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding-right: 1rem;
}