@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  
  --bg-beige: #faf0d4;         
  --secondary-latte: #D7CCC8;   
  --bg-gradient: #af8779;    

  --dark-coffee:#3E2723 ;  
  --soft-coffee: #A1887F;   
  --soft-beige: #e4c495;  
  --secondary-soft-beige: #dab783;  
  --disabled-button-bg: #d8b786b0;             

  --font-main: "Montserrat Alternates", sans-serif;
  --border-radius: 12px;      
  --header-height: 80px;        
}