.header {
    background: var(--bg-gradient);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5.9rem;
    border-radius: 8px;
    width: 100%;
}





.header__logo {
    height: 60px;
    width: 60px;
    transition: all 0.6s ease;
}


.header__logo:hover {
    transform: translateY(-5px) scale(1.05);

}

.header__title {
    color: var(--dark-coffee);
    font-weight: bold;
    transition: color 0.5s ease;
    max-width: 300px;
}


.header__title:hover {

    color: var(--soft-beige);
}



@media screen and (max-width:800px) {
    
    .header__title{
       display: none;

    }



}



@media screen and (max-width : 400px) {
    .header__title{
        font-size: 25px;
    }

    .header{
        justify-content: space-around;
    }

    .header__logo{
        align-self: flex-start;
    }
    
}