.footer{
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    background: var(--bg-gradient);
    border-radius: 8px;
    width: 100%;
}



.footer_copy{
    text-align: center;
    text-transform: uppercase;
}